*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


body{
    background-color: #171717;
    color:white;
    font-family: "Archivo", serif;
        
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:8px;
}

h2,h3{
    font-family: "Abril Fatface", serif;
        
}
h2{
    color:#e2dfd2;
}

header li{
    display:inline;
    text-decoration:none;
    margin:0px 5px;
    font-family: "Abril Fatface", serif;
    color:#fffffc;
}

#About{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:7px;
}

h3{
    color:#38aecc;
}

#About h3{
    padding-bottom:5px;
}

#second{
    margin:7px;
}

#second h3{
    text-align: center; 
    padding-bottom:5px;
}

#skills{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}
.options{
  width:45%;
  margin:5px;
  padding:5px;
  background-color:#e2dfd2 ;
  color:black;
  border:2px solid #ffffcc;
}

.options h4{
    text-align: center;
    padding-bottom:3px;
}

.figures a{
    color:white;
}

#third{
    text-align: center;
    padding:5px;
}

#certs{
    display:flex;
    flex-direction: row;
    margin:10px;
}

.pics{
    width:80%;
    border:2px solid white;
}

#fourth{
    text-align: center;
    padding:5px;
}

#projects{
    display:flex;
    flex-direction: row;
    margin:10px;
}

a{
    text-decoration:none;
    color:#e2dfd2;
}

footer a{
    font-size:23px;
    margin-right:5px;
}

#contacts{
    display:flex;
    flex-direction: row;
    color:#e2dfd2;
    align-items: center;
    justify-content: space-between;
    padding:8px;
    margin-top:10px;
}


























@media only screen and (min-width:420px){

}  

@media only screen and (min-width:500px){

}


@media only screen and (min-width:600px){ 

}


@media only screen and (min-width:768px){ 

 
    
}