*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


body{
    background-color: #171717;
    color:white;
    font-family: "Archivo", serif;
        
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:8px;
}

h2,h3{
    font-family: "Abril Fatface", serif;
        
}
h2{
    color:#e2dfd2;
    font-size:32px;
}

header ul{
    display:none;
}

header li{
    display:inline;
    text-decoration:none;
    margin:0px 8px;
    font-family: "Abril Fatface", serif;
    color:#e2dfd2;
}

#About{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:7px;
}

article{
    text-align: center;
}


h3{
    color:#38aecc;
}

#About h3{
    padding-bottom:5px;
}

#second{
    margin:7px;
}

#second h3{
    text-align: center; 
    padding-bottom:5px;
}

#skills{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}
.options{
  width:45%;
  margin:5px;
  padding:5px;
  background-color:#e2dfd2 ;
  color:black;
  border:2px solid #ffffcc;
}

.options h4{
    text-align: center;
    padding-bottom:3px;
}

.figures a{
    color:#e2dfd2;
}

#third{
    font-size:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
}

#third p{
    font-size:16px;
}

#certs{
    margin:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}

.snaps{
    height:200px;
    width:300px;
}

#btn1{
    padding:5px;
    margin:5px;
    height:30px;
    background-color:#38aecc;
    color:white;
    border:black;
    border-radius:5px;
    cursor:pointer;
}

#fourth{
    text-align: center;
    padding:5px;
}

#projects{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
}

.figures{
    color:#e2dfd2;
    margin:5px;
    padding:5px;
}

.pics1{
    width:90%;
    border:2px solid gray;
}

a{
    text-decoration:none;
    color:#e2dfd2;
}

footer a{
    font-size:23px;
    margin-right:5px;
}

#contacts{
    display:flex;
    flex-direction: row;
    color:#e2dfd2;
    align-items: center;
    justify-content: space-between;
    padding:8px;
    margin-top:10px;
}






















@media only screen and (min-width:768px){ 
    header{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding:8px;
        margin-bottom: 10px;
    }

    li{
        padding:8px;
    }

    li:hover{
        color:#ffa500;
        cursor:pointer;
        border:2px solid gray;
        background-color:#ffffcc;
        border-radius:5px;
    }
    #About{
        margin-bottom:10px;
    }
    #second{
        margin-bottom:10px;
    }


    body p,article{
        font-size:20px;
    }

    h2{
        font-size:40px;
        margin-bottom:10px;
    }

    header ul{
        display:inherit;
    }

    h3{
        font-size:30px;
        margin-bottom: 10px;
    }

    h4{
        font-size:25px;
    }

    header li{
        font-size:20px;
        margin:10px;
    }

    a{
        font-size:20px;
    }

    #third{
        font-size:20px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:10px;
    }

    #certs{
        margin:10px;
        display:flex;
        justify-content: center;
        align-items: center;
        padding:15px;
    }

    .snaps{
        height:300px;
        width:450px;
    }

    #btn1{
        padding:10px;
        margin:20px;
        height:50px;
        background-color:#38aecc;
        color:white;
        border:black;
        border-radius:5px;
        cursor:pointer;
    }

    #projects{
        padding:10px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }

    #contacts{
        font-size:20px;
        padding:10px;
    }

    footer a{
        font-size:32px;
        margin-right:15px;
    }
    
    footer a:hover{
        color:#ffa500;
    }
}


@media only screen and (min-width:1200px){ 
    header{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        padding:20px;
        margin-bottom: 20px;
    }

    li{
        padding:8px;
    }

    li:hover{
        color:#ffa500;
        cursor:pointer;
        border:2px solid gray;
        background-color:#ffffcc;
        border-radius:5px;
    }
    
    h2{
        font-size: 40px;
    }

    header ul{
        display:inherit;
    }

    h3{
        font-size:30px;
        margin-bottom: 20px;
    }

    header li{
        font-size:20px;
        margin:10px;
    }
    
    #About{
        width:50%;
        margin:auto;
        padding:20px;
        font-size:20px;
    }

    #About article{
        margin-bottom: 20px;
    }

    #skills{
        flex-direction: row;
        justify-content: space-evenly;
        padding:30px;
        width:85%;
        margin:auto;
        margin-bottom: 20px;
    }

    .options{
        width:23%;
        padding:10px;
    }

    .options h4{
        font-size:25px;
        margin:10px;
    }

    .options p{
        font-size:20px;
    }

    #third{
        font-size:20px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:10px;
    }

    #certs{
        margin:10px;
        display:flex;
        justify-content: center;
        align-items: center;
        padding:15px;
    }

    .pics{
        width:90%;
        margin:10px;
    }

    .snaps{
        height:450px;
        width:750px;
    }

    #btn1{
        padding:10px;
        margin:20px;
        height:50px;
        background-color:#38aecc;
        color:white;
        border:black;
        border-radius:5px;
        cursor:pointer;
    }



    #third a:hover{
        color:#ffa500;
    }

    #fourth{
        font-size:20px;
    }

    #projects{
        padding:10px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
    
    .figures{
        width:31%;
    }

    .pics1{
        width:100%;
        margin-bottom: 12px;
    }

    .pics1:hover{
        cursor:pointer;
        scale:1.1;
        box-shadow: #ffffcc 0px 0px 10px;
    }

    #projects a:hover{
        color:#ffa500;
    }

    #contacts{
        font-size:20px;
        padding:10px;
    }

    footer a{
        font-size:32px;
        margin-right:15px;
    }

    footer a:hover{
        color:#ffa500;
    }

    
}