*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    border:2px solid black;
}

header ul{
    padding:7px;
    margin:5px;
}
header li{
    display:inline;
    text-decoration:none;
}

#About{
    display:flex;
    flex-direction: column;
    border:2px solid black;
    padding:10px;
}

#About h3{
    padding-bottom:5px;
}

#second{
    border:2px solid black;
}

#skills{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    border:2px solid black;
}
.options{
  width:40%;
  margin:5px;
  border:2px solid black;
}

#third{
    border:2px solid black;
}

#certs{
    display:flex;
    flex-direction: row;
    padding:10px;
    border:2px solid black;
}

.pics{
    width:70%;
    border:2px solid black;
}

#fourth{
    border:2px solid black;
}

#projects{
    display:flex;
    flex-direction: row;
    padding:10px;
    border:2px solid black;
}

a{
    text-decoration:none;
    color:black;
}

#contacts{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
}

#icons{
    padding:0px 10px;
}


























@media only screen and (min-width:340px){

}  

@media only screen and (min-width:500px){

}


@media only screen and (min-width:600px){ 

}


@media only screen and (min-width:768px){ 

 
    
}